@(userForm: Form[_])

@import views.html.metronic._
@import helper._

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import play.api.i18n.Messages;
@import ch.insign.cms.views.html.admin.party.createForm

@pageFooter = {
}

@ch.insign.cms.views.html.admin.party.createForm(userForm) {

    <div class="form-group">
        @metronic.select(
            userForm,
            "gender",
            Messages("backend.user.gender"),
            models.User.Gender.values().map((gender) => (gender.id, Messages("backend.user.gender.label." + gender)))
        )
    </div>

    <div class="form-group">
        @inputText(
            userForm("phone"),
            'class -> "form-control",
            'placeholder -> Messages("backend.user.phone"),
            '_label -> Messages("backend.user.phone")
        )
    </div>
}
