@(a: ch.insign.cms.views.admin.utils.AdminContext, userForm: Form[_], user: models.User)

@import views.html.metronic._
@import helper._
@import play.api.i18n.Messages;
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.playauth.views.helper._
@import ch.insign.cms.views.html.helpers.selectOneToOne

@ch.insign.cms.views.html.admin.party.editForm(a, userForm, user) {
    <div class="form-group">
        @metronic.select(
            userForm,
            "gender",
            Messages("backend.user.gender"),
            models.User.Gender.values().map((gender) => (gender.id, Messages("backend.user.gender.label." + gender)))
        )
    </div>

    <div class="form-group">
        @inputText(
            userForm("phone"),
            'class -> "form-control",
            'placeholder -> Messages("backend.user.phone"),
            '_label -> Messages("backend.user.phone")
        )
    </div>
}
